{% extends 'global_templates/base.html' %}
{% block title %}About Us{% endblock %}

{% block content %}
<!-- About Us Section -->
<section class="about-us">
    <div class="about-us-container">
        <!-- Header for the About Us Section -->
        <header class="about-us-header">
            <h1>About Hatua Zetu Foundation (HZF)</h1>
        </header>

        <!-- Foundation Information Section -->
        <section class="foundation-info">
            <!-- Introduction to the Foundation -->
            <p>Hatua Zetu Foundation (HZF) is a feminist-led organization founded in 2020 amid the Covid-19 pandemic.
                Our mission is to support communities by demystifying myths around Covid, raising awareness about ending
                violence against women and girls, and focusing on the well-being of children with autism. We were
                officially registered in 2023.</p>

            <!-- Vision Statement -->
            <h2>Our Vision</h2>
            <p>HZF envisions an equitable, just, and safe society where young women, girls, and young people with autism
                can assert their rights and defend their autonomy, lives, and livelihoods.</p>

            <!-- Mission Statement -->
            <h2>Our Mission</h2>
            <p>Our mission is to promote social justice and the rights of young women and girls in all diversities, as
                well as young people with autism, through art, creativity, advocacy, and collective power.</p>

            <!-- Goals of the Foundation -->
            <h2>Our Goals</h2>
            <p>We aim to create a safe and inclusive space for girls, young women, and young people with autism to
                express their thoughts and opinions on their well-being and the matters that affect them the most, and
                to be part of the change.</p>

            <!-- Approach to Achieving Goals -->
            <h2>Our Approach</h2>
            <p>We strive to build sustainable and equitable communities by challenging oppressive structures through the
                power of art, advocacy, and innovation, while centering human rights and dignity. We work strategically
                in partnership with young feminists and activists within our networks to provide the necessary
                strategies for uplifting daily struggles, widening access, and advancing the rights of women, girls,
                non-binary people, young people with autism, and other marginalized groups.</p>
        </section>
    </div>
</section>
{% endblock %}
